.icon-car {
  width: 1.13em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-marker {
  width: 0.75em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-route {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-target {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-train {
  width: 0.89em;
  height: 1em;
  fill: #FFF;
}
.icon-walk {
  width: 0.5em;
  height: 1em;
  fill: #FFF;
}
